{% extends 'base.html' %} {% load static %} {% block template %}Hello This is
Contact{% endblock %}
<!-- Title Block-->
{% block titles %}Contact{% endblock %} {% block head %}
<link rel="stylesheet" href="{% static 'css/contact.css' %}" />{% endblock %} 
{%block content %}
<section>
  <p>
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Itaque sed unde
    repellendus excepturi ducimus labore distinctio tempora rem quidem. Deleniti
    vitae modi recusandae magnam nihil eaque deserunt dolores officia quos!
  </p>
</section>
{% endblock %}
